* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 200px;
    height: 60px;
    padding: 10px;
    font-size: 20px;
    border-radius: 12px;
    cursor: pointer;
    border: 0;
    background-color: azure;

}